Checks: 
    - 'bugprone*'
    - 'clang-analyzer*'
    - 'cppcoreguidelines*'
    - 'misc*'
    - 'modernize*'
    - 'performance*'
    - 'portability*'
    - 'readability*'
    - '-modernize-use-trailing-return-type'
    - '-*non-private-member-variables-in-classes'
    - '-*owning-memory'
CheckOptions:
    - AllowSoleDefaultDtor: true