InlayHints:
    Enabled: false
Hover:
    ShowAKA: true
Completion:
    AllScopes: Yes
    # ArgumentLists: None
CompileFlags:
    Add:
        - '-Wno-c23-extensions'
        - '-Wno-c++11-narrowing'
    Remove:
        - '-fmodules-ts'
        - '-fmodule-mapper=*'
        - '-fdeps-format=*'
If:
    PathExclude:
        - out/.*
Diagnostics:
    ClangTidy:
        Add:
            - 'bugprone*'
            - 'cppcoreguidelines*'
            - 'misc*'
            - 'modernize*'
            - 'performance*'
            - 'portability*'
        Remove:
            - '*owning-memory'
            - 'modernize-use-trailing-return-type'
            - '*non-private-member-variables-in-classes'
            - '*pro-type-vararg'
            - '*easily-swappable-parameters'