<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SatansLilHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SatansLilHelper.Properties.slh" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SatansLilHelper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SatansLilHelper.Properties.Settings>
            <setting name="ShowHealthBars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStatus" serializeAs="String">
                <value>True</value>
            </setting>
        </SatansLilHelper.Properties.Settings>
        <SatansLilHelper.Properties.slh>
            <setting name="ShowHealthBars" serializeAs="String">
                <value>True</value>
            </setting>
        </SatansLilHelper.Properties.slh>
        <SatansLilHelper.Settings1>
            <setting name="ShowHealthBars" serializeAs="String">
                <value>False</value>
            </setting>
        </SatansLilHelper.Settings1>
    </userSettings>
</configuration>